body
  max-width 100%
  margin-left 0
  margin-right 0
  font-family monospace

.cols
  display flex

  .col
    width 50%

.small
  font-size .75rem

.fh
  height 100%

.group
  display flex
  flex-flow row wrap
  justify-content center
  width 100%

  .txt
    width 100%
    height 100%

  // & > .word:nth-child(10n + 1)
  //   display contents

  //   &::after
  //     content ''
  //     width 100%
